<footer>
  <div class="footer_navlink_container">
    <a href="/listings">Explore</a>
    <a href="/listings/new">Airbnb your home</a>
  </div>
  <div class="footer_tp_container">© 2024 Airbnb, Inc.</div>
</footer>
